@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --document-width: 746px; /* Default value */
  --gutter-size: max(20px, calc((var(--document-width) - 68rem) / 2));
  --media-gutter-size: max(20px, calc((var(--document-width) - 1728px) / 2));

  --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
  --pink: #FF919D;
  --glass: rgba(255, 255, 255, 0.54);
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354;
}

@layer base {
  html, body {
    @apply m-0 p-0 box-border;
  }
}

@layer components {
  .overscroll-behavior-contain {
    overscroll-behavior-inline: contain;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
  
}
  /*
  * global styling variables
  */
  


html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  background: linear-gradient(
    106.37deg,
    #ffe1bc 29.63%,
    #ffcfd1 51.55%,
    #f3c6f1 90.85%
  );
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.appGlass {
  display: grid;
  height: 97%;
  width: 97%;
  border-radius: 2rem;
  background-color: var(--glass);
}
/* 
::-webkit-scrollbar {
  width: 2rem;
}

::-webkit-scrollbar-track {
  background: #e0e0e0
} 

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-track:hover {
  background: #555;
} */